# Values template-init.sh replaces on first use. Deleted by the init run.
OLD_NAME='template-web-nuxt'
OLD_SNAKE='template_web_nuxt'
OLD_DESC='Nuxt app template with CI, Firebase and docs.'
OLD_YEAR='2026'
OLD_STACK_LABEL='Nuxt app'
